*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
span{
    background: url("https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png");
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    animation: animate 8s linear;
    pointer-events: none;
}

@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 1;
    }
}